[Unit]
Description=Bazaar background service
After=graphical-session.target
StartLimitBurst=10
ConditionPathExists=/var/lib/flatpak/app/io.github.kolunmi.Bazaar

[Service]
Type=simple
ExecStart=flatpak run --command=bazaar io.github.kolunmi.Bazaar --no-window
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
