[Unit]
Description=Install/update CachyOS Proton build for Steam
After=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=HOME=%h
ExecCondition=/usr/bin/test ! -f %h/.local/state/x-os-gaming/proton-cachyos.done
ExecStart=/usr/bin/bash -c '/usr/libexec/x-os-gaming/proton-cachyos-installer.sh'
ExecStartPost=/usr/bin/bash -c 'mkdir -p %h/.local/state/x-os-gaming && touch %h/.local/state/x-os-gaming/proton-cachyos.done'

[Install]
WantedBy=graphical-session.target
